<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='registration.css') }}">
    <title>Index</title>
</head>
<body>

    <div class="container">
        <h2 class="active">STUDENT LOGIN</h2>
    <form action="http://localhost:5000/student/get_login_info" method="post">
        <label for="username">Username</label>
        <input type="text" id="username" name="username">

        <label for="password">Password</label>
        <input type="password" id="password" name="password">

        
        <input type="submit" value="Submit">
        
    </form>
    </div>
</body>
</html>